 @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,700');

* {
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  font-weight: 400;
}

code span {
  font-family: 'Source Code Pro', monospace !important;
  font-size: 14px !important;
  letter-spacing: 0px;
}

.navigation {
  display: none;
}

#book-search-input {
  margin-bottom: 30px;
}

.markdown-section * {
  font-size: 15px;
  line-height: 24px;
}

.page-inner {
  max-width: 700px;
}

.book-summary ul.summary li a:hover {
  text-decoration: none;
}

.markdown-section hr {
  height: 1px;
}

.chapter {
  font-size: 15px;
}

.book-summary ul.summary li ul {
  padding-left: 15px;
}

.book-summary ul.summary li a, .book-summary ul.summary li span {
  margin-left: -200px;
  padding-left: 215px;
}

.book-summary ul.summary li.active>a {
  color: #1e2127;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.05);
  border-right: 2px solid #1e2127;
}

.gitbook-link {
  display: none !important;
  opacity: 0;
}

.divider {
  display: none !important;
  opacity: 0;
}

h1>a {
  display: none;
}

.book-header .btn {
  display: none;
}

@media screen and (max-width: 400px) {
  .book-header .btn {
    display: block;
  }
}

.markdown-section code {
  background-color: #fdf6e3 !important;
  padding: 2px;
  margin: -2px;
  border-radius: 3px;
  background: none;
  font-family: 'Source Code Pro', monospace !important;
  font-size: 14px;
}

.hints-container p {
  margin: 0px 0px;
}

.markdown-section code::after, .markdown-section code::before {
  letter-spacing: 0;
  content: "";
}

.markdown-section .sha {
  font-family: 'Source Code Pro', monospace !important;
  font-size: 10px;
  margin-top: -13px;
  color: #777777;
}

.markdown-section .sha::before {
  font-family: 'Source Sans Pro', serif !important;
  content: "SHA256: ";
  font-size: 10px;
  font-weight: 700;
  color: #777777;
}

summary:before {
  display: inline;
  float: left;
  content: "[Expand]";
  color: #4183c4;
  margin-right: 8px;
}
